.Request {
    width: 100vw;
    padding: 208px 130px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 544px 676px ;
    grid-template-rows: 138.5px 380px;
}

.Header {
    width: 750px;
    color: var(--grey-main, #353539);
    font-size: 86.567px;
    font-weight: 700;
    line-height: 104.478px;
    /* 120.69% */
    text-transform: uppercase;
}

.RequestItems {
    display: grid;
    row-gap: 8px;
    grid-column: 2/3;
    align-items: end;
    grid-row: 2/3;
    grid-template-columns: 619px 57px;
    grid-template-rows: repeat(5, 75px)
}

.item {
    display: flex;
    box-sizing: border-box;
    width: 619px;
    height: 73px;
    padding: 24px 32px;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    border: 1px solid #E2E2E2;
    background: #FFF;

    p {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: var(--grey-main, #353539);
    }
}
.item1 {
    grid-column: 1/2;
    grid-row: -5/-4;

}
.item2 {
    grid-column: 1/2;
    grid-row: -3/-4;
}
.item3 {
    grid-column: 1/2;
    grid-row: -2/-3;
}
.item4 {
    grid-column: 1/2;
    grid-row: -1/-2;
}
.Line1 {
    width: 619px;
    height: 73px;
    border-top: 0.068vw dashed #0A0A29;
    opacity: 0.3;
    border-radius: 10px;
    grid-column: 1/3;
    grid-row: 1/2;
    
}
.Line2 {}
.Line3 {}
.Line4 {}
.Line5 {}
.RequestBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    justify-content: flex-end;
    grid-column: 1/2;
    grid-row: 2/3;
}

.RequestAuditText {
    width: 295px;
    color: var(--grey-main, #353539);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
}

.RequestBtn {
    display: inline-flex;
    padding: 24px 32px;
    text-decoration: none;
    border-radius: 12.737px;
    border: 1px solid #000;
    backdrop-filter: blur(25px);
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    gap: 12.737px;
    box-sizing: border-box;

    svg {
        align-self: center;
    }
}