@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Regular.eot');
    src: local('Basis Grotesque Pro Regular'), local('BasisGrotesquePro-Regular'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Regular.woff2') format('woff2'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Regular.woff') format('woff'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Black.eot');
    src: local('Basis Grotesque Pro Black'), local('BasisGrotesquePro-Black'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Black.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Black.woff2') format('woff2'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Black.woff') format('woff'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Light.eot');
    src: local('Basis Grotesque Pro Light'), local('BasisGrotesquePro-Light'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Light.woff2') format('woff2'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Light.woff') format('woff'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Bold.eot');
    src: local('Basis Grotesque Pro Bold'), local('BasisGrotesquePro-Bold'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Bold.woff2') format('woff2'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Bold.woff') format('woff'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Medium.eot');
    src: local('Basis Grotesque Pro Medium'), local('BasisGrotesquePro-Medium'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Medium.woff2') format('woff2'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Medium.woff') format('woff'),
        url('../public/fonts/BasisGrotesquePro/BasisGrotesquePro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

