.Approach {
    width: 100vw;
    box-sizing: border-box;
    padding: 11.486vw 8.649vw;
    display: grid;
    grid-template-columns: 18.986vw 2.162vw 18.986vw 2.162vw 18.986vw 2.162vw 18.986vw;
    grid-template-rows: 18.986vw 2.162vw 18.986vw;
}

.ApproachHeader {
    width: 47.095vw;
    font-size: 5.849vw;
    font-weight: 700;
    line-height: 7.059vw;
    text-transform: uppercase;
    color: var(--grey-main, #353539);
}

.Evaluation {
    box-sizing: border-box;
    display: flex;
    z-index: 1;
    width: 18.986vw;
    height: 18.986vw;
    padding: 1.622vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0.676vw;
    border: 0.068vw solid #E2E2E2;
    background: #FFF;

    .EvaluationText {
        width: 12.838vw;
        color: var(--grey-main, #353539);
        font-size: 1.622vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.Evaluation1 {
    grid-row: 1/2;
    grid-column: 7/8;
}
.Evaluation2 {
    grid-row: 3/4;
    grid-column: 7/8;
}
.Evaluation3 {
    grid-row: 3/4;
    grid-column: 5/7;
}
.Evaluation4 {
    grid-row: 3/4;
    grid-column: 3/4;
}
.Evaluation5 {
    grid-row: 3/4;
    grid-column: 1/2;
}
.Line1 {
    width: 28.615vw;
    height: 0px;
    border-top: 0.135vw dashed #0A0A29;
    opacity: 0.3;
    grid-row: 1/3;
    grid-column: 4/7;
    align-self: center;
    justify-self: end;
}
.Line2 {
    width: 0px;
    height: 3.041vw;
    border-right: 0.135vw dashed #0A0A29;
    opacity: 0.3;
    align-self: center;
    justify-self: center;
    grid-row: 2/3;
    grid-column: 7/8;
    z-index: 0;
}
.Line3 {
    width: 3.041vw;
    height: 0px;
    border-top: 0.135vw dashed #0A0A29;
    opacity: 0.3;
    align-self: center;
    justify-self: center;
    grid-row: 3/4;
    grid-column: 6/7;
    z-index: 0;
}
.Line4 {
    width: 3.041vw;
    height: 0px;
    border-top: 0.135vw dashed #0A0A29;
    opacity: 0.3;
    align-self: center;
    justify-self: center;
    grid-row: 3/4;
    grid-column: 4/5;
    z-index: 0;
}
.Line5 {
    width: 3.041vw;
    height: 0px;
    border-top: 0.135vw dashed #0A0A29;
    opacity: 0.3;
    align-self: center;
    justify-self: center;
    grid-row: 3/4;
    grid-column: 2/3;
    z-index: 0;
}